<%- include('navbar') %>

<head>
	<title>Services | VRC TRUST</title>
</head>

		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(i12.jpg);">
				<div class="desc animate-box">
					<h2>Our <strong>Contributions</strong></h2>
					<span>Building a better vision by Giving</span>
				</div>
			</div>

		</div>
		
		<div id="fh5co-blog-section" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Motherly Care Towards Society</h3>
						<p>We care the Society as our Mothers and show immense affection by serving through all dimensions</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row row-bottom-padded-md">
					<div class="col-lg-4 col-md-4 col-sm-6">
						<% for (const det of details) { %>
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive" src="<%= det.imagePath %>" alt=""></a>
							<div class="blog-text">
								<div class="prod-title">
									<h3><%= det.title %></h3>
									<span class="posted_by"><%= det.date %></span>
									<p> <%= det.description %></p>
									<p><a href="#">Learn More...</a></p>
								</div>
							</div> 
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
		<%- include('footer') %>
	</body>
</html>

